<!DOCTYPE html>
<html lang="en">
<head>
  <title>American Home Security Systems | Home Security</title>
  <meta charset="utf-8">
  <meta name="author" content="pixelhint.com">
  <meta name="description" content="Crafty is a stunning HTML5/CSS3 multi-purpose template, well-coded, commented code and easy to customize"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main_responsive.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/carouFredSel.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>

  <%= render 'layouts/header' %>

  <section class="billboard">
    <div class="wrapper">
    <% if !current_customer %>
      <div class="caption" %>
      <p>Sign Up Below</p>
      </div>
      <% else %>
      <div class="caption" %>
      <p>You're already logged in!</p>
      </div>
      <% end %>
    </div>
  </section>

  <% if !current_customer %>
  <section class="testimonials wrapper">

    <span class="sep_line sep_top">
    </span>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="t">
          <p>First Name:<br />
          <%= f.text_field :first_name %></p>
        </div>

        <div class="t">
          <p>Last Name:<br />
          <%= f.text_field :last_name %></p>
        </div>

        <div class="t">
          <p>Zipcode:<br />
          <%= f.text_field :zipcode %></p>
        </div>
        
        <div class="t">
          <p>Phone Number:<br />
          <%= f.text_field :phone_number %></p>
        </div>

        <div class="t">
          <p>Email:<br />
          <%= f.email_field :email, autofocus: true %></p>
        </div>

        <div class="t">
          <p>Password:
          <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br /></p>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="t">
          <p>Password Confirmation:<br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %></p>
        </div>

        <div class="actions" style="margin-top:10px">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
    <% end %>
    <span class="sep_line sep_bottom"></span>

  </section><!--  End Testimonials  -->

<%= render "devise/shared/links" %>
<%= render 'layouts/footer' %>

</body>
</html>
