<!DOCTYPE html>
<html lang="en">
<head>
	<title>American Home Security Systems | Pricing</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Crafty is a stunning HTML5/CSS3 multi-purpose template, well-coded, commented code and easy to customize"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main_responsive.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/carouFredSel.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>

	<%= render 'layouts/header' %>

	<section class="billboard">
		<div class="wrapper">
			<div class="caption">
				<p style="text-align:center">Our prices are always affordable, especially for what you get!</p>
			</div>
		</div>
	</section><!--  End Billboard  -->

	<section class="features">

		<div class="wrapper">
			<h1>Home Protection</h1>
				<div class="feature">
					<div class="ficon">
						<%= image_tag 'basic.png' %>
					</div>
					<div class="details_exp">
						<h3>Basic Protection</h3>
						<p>Stuff goes here.</p>
						<a href="#">learn more<span>→</span></a>
					</div>
				</div>
				<div class="feature">
					<div class="ficon">
						<%= image_tag 'plus.png' %>
					</div>
					<div class="details_exp">
						<h3>Better Protection</h3>
						<p>Stuff goes here.</p>
						<a href="#">learn more<span>→</span></a>
					</div>
				</div>
				<div class="feature">
					<div class="ficon">
						<%= image_tag 'premium.png' %>
					</div>
					<div class="details_exp">
						<h3>Advanced Protection</h3>
						<p>Stuff goes here.</p>
						<a href="#">learn more<span>→</span></a>
					</div>
				</div>
			<h1>Business Protection</h1>
				<div class="feature">
					<div class="ficon">
						<%= image_tag 'basic.png' %>
					</div>
					<div class="details_exp">
						<h3>Basic Protection</h3>
						<p>Stuff goes here.</p>
						<a href="#">learn more<span>→</span></a>
					</div>
				</div>
				<div class="feature">
					<div class="ficon">
						<%= image_tag 'plus.png' %>
					</div>
					<div class="details_exp">
						<h3>Better Protection</h3>
						<p>Stuff goes here.</p>
						<a href="#">learn more<span>→</span></a>
					</div>
				</div>
				<div class="feature">
					<div class="ficon">
						<%= image_tag 'premium.png' %>
					</div>
					<div class="details_exp">
						<h3>Advanced Protection</h3>
						<p>Stuff goes here.</p>
						<a href="#">learn more<span>→</span></a>
					</div>
				</div>

	</section><!--  End Features  -->
	
	<%= render 'layouts/footer' %>

</body>
</html>